.PageHeads {
    vertical-align: center;
  }
  body {
      color: #555;
      margin: 0;
      font-family: sans-serif;
  }
  
  /* class selector */
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  header {
    background-color: rgb(179, 100, 11);
    height: 150px;
    line-height: 150px;
  }
  
  header a{
    color: rgb(209, 213, 240);
    text-decoration: none;
    text-transform: uppercase;
  }
  
  /* id selector */
  #header-title {
    display: block;
    float: left;
    font-size: 24px;
    font-weight: bold;
  }
  
  #header-nav {
    display: block;
    float: right;
    margin-top: 0;
  }
  
  #header-nav li{
    display: inline;
    padding-left: 20px;
  }
  
  /* footer */
  footer {
    background-color: rgb(83, 83, 83);
    position: absolute;
    width: 100%;
    font: bold 16px sans-serif; 
    /* "font:" takes care of font-weight, font-size and font-family */
    padding: 55px 50px;
  }
  
  footer .footer-left{
    width: 40%;
  }
  
  footer .footer-left, footer .footer-right{
    display: inline-block;
    vertical-align: center;
  }
  
  footer .footer-links {
    color: white;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  footer .footer-links a {
    text-decoration: none;
    color: inherit;
  }
  
  footer .footer-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: rgb(190, 190, 190);
  }

  footer .footer-right {
    width: 35%;
  }
  
  footer .footer-right p{
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin: 0;
    margin-bottom: 10px;
  }
  
  footer .footer-right h4{
    color: rgb(190, 190, 190);
    font-size: 14px;
  }
 
